

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {

}

html {
  padding-top: 50px;
  font-family: 'Raleway', Helvetica, arial, sans-serif;

}
h5{
  color: #4b827a !important;
}

.header {
  text-align: center;
}
.header a {
  text-decoration: none !important;
  color: #64ada3;
  outline: none !important;
}
body a{
  outline: none !important;
}

.accordion {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto{{ser.name}};
  padding: 2rem;
}

.accordion-item {
  position: relative;
}
.accordion-item.active .heading {
  color: #8bc2ba;
}
.accordion-item.active .icon {
  background: #fefefe;
}
.accordion-item.active .icon:before {
  background: #8bc2ba;
}
.accordion-item.active .icon:after {
  width: 0;
}
.accordion-item .heading {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #4b827a;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  padding: 0.2rem 0 0.2rem 4rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (min-width: 40rem) {
  .accordion-item .heading {
    font-size: 1.2rem;
  }
}
.accordion-item .heading:hover {
  color: #8bc2ba;
}
.accordion-item .heading:hover .icon:before, .accordion-item .heading:hover .icon:after {
  background: #8bc2ba;
}
.accordion-item .icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 3rem;
  height: 3rem;
  border: 2px solid #fefefe;
  border-radius: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.active .heading{
  padding: 0.2rem 0 1.2rem 4rem;
}
.accordion-item .icon:before, .accordion-item .icon:after {
  content: '';
  width: 1.25rem;
  height: 0.25rem;
  background: #4b827a;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.accordion-item .icon:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  z-index: -1;
}
.accordion-item .content {
  display: none;
}
.accordion-item .content p {
  margin-top: 0;
}
@media (min-width: 40rem) {
  .accordion-item .content {
    line-height: 1.75;
  }
}

.headingish{
  text-decoration: none !important;
  color: #000;
}
.wrap{
  text-align: center;
  border-left: 3px solid red;
}
.wrap table{
  width: 100%;
  text-align: center;
}
.wrapq{
  margin-left: 50px;
}

.borderp{
  border-left: 3px solid  #4b827a;
  padding-left: 20px;
  text-transform: uppercase;
  color: #4b827a !important;
  font-size: 1.2rem !important;
}

h5{
  font-weight: bold;
  font-size: 1.2rem;
  color: #4b827a !important;
  text-transform: uppercase;
}
.accordion{
  padding: 0;
  max-width: none;
}
.authentication img{
  max-width: 80px;
}

.correct_class{
  height: 100%;
  padding-top: 10px;
}
.right{
  text-align: right;
  float: right;
}
.right p{
  margin: 3px;
  padding: 0;
}
.table, .accordion, .maindata{
  font-size: 12px !important;
  width: 100%;
}
.maindata{
  padding: 10px;
  border-radius:0 0 10px 10px;
}

.re_re{
  font-size: 10px;
  padding: 5px;
}
.qwrap{
  width: 100% !important;
}
.qwrap, .qwrap input{
  width: 100% !important;
}
.hidden{
  display:none;
}
.trigger .yes{
  width: 40px;
  height: 25px;
  background-image: url('../img/yes.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.trigger .no{
  width: 40px;
  height: 25px;
  background-image: url('../img/no.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.bcgrnd{
  padding: 10px;
  border-radius: 10px;
  background-color: ghostwhite;
}

.accordion-item-0{
  margin: 5px !important;
}
.title h5{
  color: #8bc2ba !important;
}
.text-sizing{
   color: #8bc2ba !important;
}
.accordeon-minimaze{
  max-width: 100rem;
}
.floatl{
  float: right;
  font-size: 10px;
}
.resize .p-1 input{
 width: 100%;
}
.thead-light th{
  text-align: center;
}
