{%extends 'base.html' %}
{%block content%}
{% load static %}
{% load to_breake %}

<div class="authentication">

<hr>


  <form action="login" name="login" method="post">{% csrf_token %}
    <img src="{% static  'img/logo.jpg' %}" alt="">

      <input required type="text" placeholder="подразделение" name="userid"/>
      <input required type="password" placeholder="пароль" name="pswrd"/>
      <input class="btn btn-primary" type="submit" value="Войти"/>
      <a class="btn btn-outline-success" href="/admin">войти как администратор</a>
  </form>


<hr>


</div>




<div class="row">
  <div class="col-md-6">
    <form action="/" method="post">{% csrf_token %}
      <p>Поиск по подразделениям:</p>
           <input type="text" placeholder="Подразделение" name="q">
           <button class="btn" type="submit" name="button">Искать</button>
           <form action="/" method="post">{% csrf_token %}
                  <button class="btn" type="submit" name="re">Сбросить</button>
           </form>
    </form>
  </div>
  <div class="right col-md-6">
    <form action="/" method="post">{% csrf_token %}
      <p>Поиск людей:</p>
           <p><input type="text" placeholder="Имя/номер" name="qp"></p>
           <p><button class="btn" type="submit" name="button">Искать</button></p>
    </form>
  </div>
</div>

{% if persons %}
<table class="table">
  <thead class="thead-light">
    <tr scope="row">
      <th scope="col">ФИО</th>
      <th scope="col">Номер</th>
      <th scope="col">Короткий номер</th>
      <th scope="col">Почта</th>
      <th scope="col">Кабинет</th>
      <th scope="col">Подразделение</th>
      <th scope="col">Служба</th>
      <th scope="col">Должность</th>
      <th scope="col">Звание</th>
    </tr>
  </thead>
{% endif %}



  <tbody>
    {% for pn in persons %}
    <tr scope="row">
      <td scope="col">{{ pn.firstname }}</td>
      <td scope="col">{{ pn.phone }}</td>
      <td scope="col">{{ pn.shorty_num }}</td>
      <td scope="col">{{ pn.email }}</td>
      <td scope="col">{{ pn.sq }}</td>
      <td scope="col">{{ pn.division.name }}</td>
      <td scope="col">{{ pn.service.name }}</td>
      <td scope="col">{{ pn.position }}</td>
      <td scope="col">{{ pn.rank.name }}</td>
    </tr>


{% empty %}

{% for pdel in data %}

  <div class="accordion">
      <div id="{{pdel.id}}" class="accordion-item">
          <a href="#" class="heading">
              <div class="icon"></div>
              <div class="title">{{pdel.name}}</div>
          </a>

          <div class="content wrapq">



                      <div class="accordion">
                          {% for ser in pdel.serviced.all %}



                              <div id="K{{ser.id}}"  class="accordion-item-2">
                                  <a href="#" class="headingish">

                                      <div class="borderp title"><h5>{{ser.name}}</h5></div>
                                  </a>

                                  <div class="wrap content">



                                      <table class="table">
                                        <thead class="thead-light">
                                          <tr scope="row">
                                            <th scope="col">ФИО</th>
                                            <th scope="col">Номер</th>
                                            <th scope="col">Короткий номер</th>
                                            <th scope="col">Почта</th>
                                            <th scope="col">Кабинет</th>
                                            <th scope="col">Должность</th>
                                            <th scope="col">Звание</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for prsn in ser.persons.all %}
                                          <tr>
                                            <td>{{ prsn.firstname }}</td>
                                            <td>{{ prsn.phone }}</td>
                                            <td>{{ prsn.shorty_num }}</td>
                                            <td>{{ prsn.email }}</td>
                                            <td>{{ prsn.sq }}</td>
                                            <td>{{ prsn.position }}</td>
                                            <td>{{ prsn.rank.name }}</td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>


                                      </table>
                                  </div>
                              </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
{% endfor %}
{% endfor %}

{% if persons %}
</tbody>
</table>
{% endif %}



{%endblock%}
