{% load static %}
<html>
    <head>
        <title>Login page</title>

        <link rel="stylesheet" href="{% static  'bootstrap/css/bootstrap.css' %}">



        <link rel="stylesheet" href="{% static  'css/main.css' %}">

    </head>
    <body>

<div class="container">
  {% block content %}

  {% endblock content %}
</div>


<script src="{% static  'js/jquery.min.js' %}"></script>

<script src="{% static  'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static  'js/index.js' %}"></script>


</body>
</html>
