
{%extends 'base.html' %}
{%block content%}
{% load static %}

<br>
<hr>
<div class="authentication">
    <div class="row">
      <div class="col-md-10">
        <img src="{% static  'img/logo.jpg' %}" alt="">
      </div>
      <div class="col-md-2">
      <a class=" btn btn-outline-danger" href="{% url 'logout' %}">выйти</a>
      </div>
    </div>
</div>

  <hr>


    {%if hentai %}
<h3>добавить службу</h3>

    <form  action="add/" method="POST">{% csrf_token %}
       <input type="text" required placeholder="Имя" name="firstname"/>
       <button class="btn btn-primary" type="submit" name="button">добавить</button>
    </form>



    {% for nd in nonedata %}
      {{nd.name}}
    {% endfor %}










<div class="accordeon-minimaze accordion">

{% for sf in service_frame %}
<div class="d-flex flex-row">
  <div class="p-2">

  </div>
  <div class="p-2">
    <div id="{{sf.id}}" class="accordion-item">

        <a href="#" class="heading">

            <div class="icon"></div>
            <div class="title">{{sf.name}}</div>
        </a>


        <div class="content">
          <form class="bcgrnd"  method="POST">{% csrf_token %}
            <table class="maindata">
              <thead>
                <tr>
                  <th>ФИО</th>
                  <th>Городской номер</th>
                  <th>Внутренний номер</th>
                  <th>Доп. номера</th>
                  <th>Почта</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="p-1"> <input type="text" required placeholder="Имя" name="name"/></td>
                  <td class="p-1"> <input type="text" required placeholder="Городской номер" name="phone"/></td>
                  <td class="p-1"> <input type="text" required placeholder="Внутренний номер" name="sh_phone"/></td>
                  <td class="p-1"> <input type="text" required placeholder="Доп. номера" name="another_phone"/></td>
                  <td class="p-1"> <input type="text" required placeholder="Почта" name="email"/></td>
                </tr>
                <tr>
                  <th>Кабинет</th>
                  <th>Должность</th>
                  <th>Звание</th>
                </tr>
                <tr>
                  <td class="p-1"> <input type="text" required placeholder="Кабинет" name="sq"/></td>
                  <td class="p-1"> <input type="text" required placeholder="Должность" name="pos"/></td>
                  <td class="p-1">
                    <select class="" name="rank">
                      {% for rank in ranks %}
                        <option value="{{ rank.id }}">{{ rank.name }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td> <button class="eeeboot btn btn-primary" type="submit" name="button">отправить</button></td>
                </tr>


              </tbody>

            </table>

                <input type="hidden" name="select" value="{{sf.id}}">

          </form>

          <hr>
          <form class="del_el" action="servicedel/" method="post">{% csrf_token %}
            <button class="btn btn-outline-danger" value="{{sf.id}}" type="delete" name="ser">Удалить службу</button>
            <input  class="verif btn btn-danger" type="checkbox" value="True" name="verif">
            Вместе со службой удалятся все связанные с ней данные
            <hr>


              {{verif}}

          </form>



    <table class="table table-striped maindata resize">
            <tbody>
              {% for pn in sf.persons.all %}



              <form class=""  action="edit/" method="post">{% csrf_token %}



                    <tr class="qwrap" >
                        <td class="p-1"><input type="text" placeholder="ФИО" required name="name" value="{{pn.firstname}}"></td>
                        <td class="p-1"><input type="text" placeholder="Городской номер" required name="phone" value="{{pn.phone}}"></td>
                        <td class="p-1"><input type="text" placeholder="Внутренний номер" required name="sh_phone" value="{{pn.shorty_num}}"></td>
                        <td class="p-1"><input type="text" placeholder="Доп. номера" required name="another_num" value="{{pn.another_num}}"></td>
                        <td class="p-1 trigger"><button class="btn btn-outline-success yes" type="button" name="button"></button></td>
                    </tr>


                    <tr class="hidden">
                      <td class="p-1"><input type="text" placeholder="Почта" required name="email" value="{{pn.email}}"></td>
                      <td class="p-1"><input type="text" placeholder="кабинет" required name="sq" value="{{pn.sq}}"></td>
                      <td class="p-1"><input type="text" placeholder="Должность" required name="pos" value="{{pn.position}}"></td>
                      <td class="p-1">
                        <select class="" name="rank">
                          <option selected value="{{ rank.id }}">{{ pn.rank.name }}</option>
                          {% for rank in ranks %}
                            {% if rank.id != pn.rank.id %}
                              <option value="{{ rank.id }}">{{ rank.name }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </td>

                      <td class="p-1">
                        <button class="re_re btn btn-primary" type="submit" value="{{pn.id}}" name="edit">изменить</button>
                        <form action="delete/" method="post">{% csrf_token %}
                          <button class="re_re btn btn-danger"  type="submit" value="{{pn.id}}" name="delete">удалить</button>
                        </form>
                      </td>


                    </tr>


                  </form>



                    {% empty %}
                    <h3>Нет данных</h3>


          {% endfor %}
            </tbody>

      </table>

        </div>





    </div>
  </div>
  </div>


{% endfor %}

</div>



    {% endif %}



    {%endblock%}
